body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8ec3ec;
  user-select: none;
  font-family: monospace;
}
header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
}
#app {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background: linear-gradient(145deg, #80b0d4, #98d1fd);
  box-shadow: 41px 41px 82px #79a6c9, -41px -41px 82px #a3e0ff;
}
.leaderboard {
  height: auto;
  width: 150px;
  background-color: #8ec3ec;
  border-radius: 20px 0 0 20px;
  padding: 1em;
}
.lb-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lb-text {
  font-weight: bolder;
}
.game {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(5, 150px);
  background-color: #8ec3ec;
  font-weight: bolder;
}
.info {
  height: auto;
  width: 300px;
  background-color: #8ec3ec;
  border-radius: 0 20px 20px 0;
  padding: 1em;
}
.info-text {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results {
  height: 25px;
  font-weight: bolder;
}
.historic {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 0.5rem;
}
.userScore {
  display: flex;
  justify-content: space-between;
  margin: 0.15em;
}

.lamp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 50%;
  background: #8ec3ec;
  box-shadow: 6px 6px 12px #79a6c9, -6px -6px 12px #a3e0ff;
}
.lamp:active {
  border-radius: 50%;
  background: #8ec3ec;
  box-shadow: inset 6px 6px 12px #79a6c9, inset -6px -6px 12px #a3e0ff;
}
.lightOn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 50%;
  background: linear-gradient(145deg, #98ff5e, #80db4f);
  box-shadow: 6px 6px 11px #79a6c9, -6px -6px 11px #a3e0ff;
}
.lightOn:active {
  border-radius: 50%;
  background: #8ef358;
  box-shadow: inset 6px 6px 11px #79a6c9, inset -6px -6px 11px #a3ff65;
}
