
body {
    background-color: #152028;
    color: #eee;
}

p {
    font-family: monospace;
    text-align: left 20%;
}

h2 {
    font-family: monospace;
    position: relative;
    top: 15px;
}

a {
    color: #eee;
}

a:hover {
    color: blue;
}

#left {
    float: left;
    width: 40%;
}

#right {
    float: right;
    width: 40%;
}
