
body {
    background-color: #152028;
}

p {
    font-family: monospace;
    text-align: left;
}

h2 {
    font-family: monospace;
}

a {
    color: #eee;
}

a:hover {
    color: blue;
}
