
body {
    background-color: #152028;
    color: #eee;
    margin: 10%;
}


p {
    font-family: monospace;
    text-align: left 20%;
    margin: auto;
}

h2 {
    font-family: monospace;
    text-align: center;
    top: 15px;
}

a {
    color: #eee;
}

a:hover {
    color: blue;
}

#left {
    float: left;
    width: 40%;
}

#right {
    float: right;
    width: 40%;
}
.responsive-image {
    max-width: 20%;
    height: auto;
}
